.hero-section {
  position: relative;
  color: #fff;
  height: 500px;
  background-size: cover;
  background-position: center;
}

.hero-section .mask {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.hero-section .text-content {
  text-align: center;
}

.hero-button {
  color: #fff;
  border: 1px solid #fff;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  text-decoration: none;
}
