html {
  font-size: 16px;
}

body {
  display: block;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

.top-padding-100 {
  padding-top: 100px;
}

.h-full {
  height: 100vh;
}

/* Navbar */
nav {
  padding-left: 1rem;
}
.navbar-brand img {
  max-height: 3.125rem;
}

.navbar-brand {
  font-size: 1.5rem;
}

nav ul li a {
  font-size: 1.375rem;
  margin: auto 10px;
}

nav ul li a:hover {
  color: whitesmoke;
}

/* Hero */
#hero {
  margin-top: 50px;
  padding-top: 20px;
  /* background-image: url("../pics/hero-img.jpg"); */
  text-align: center;
  background-color: gray;
  color: whitesmoke;
}

.jumbotron {
  opacity: 0.9;
  color: whitesmoke;
}

/* About Me */
#about-me {
  background-color: whitesmoke;
}

/* Projects */
#projects h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Contact Me */
#contact {
  text-align: center;
  background-color: gray;
  color: whitesmoke;
}
#contact h2 {
  text-align: center;
}
